body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  width: 400px;
  height: 600px;
}

#icon {
	 height: 100px;
	 width: 100px;
}

.svg-gray {
	fill: darkgray;
}

.svg-green {
	fill: green;
}

.svg-black {
	fill: black;
}

.svg-magenta {
	fill: magenta;
}